@page "/privacy"

<PageTitle>Privacy</PageTitle>

<h3>Privacy</h3>

<h2> Credits and attributions</h2>

<p>The images for WestWind were a modifaction of an image file supplied by:
    <a href="https://www.vecteezy.com/free-vector/vector" target="_blank">
        Vectors by Vecteezy
    </a>. No copyright infringment is intended.
    <br/><br/>
    This is a way that you can give credit to sources outside of your original work
    that you afre using for educational purposes. This does not cause copyrignt infringment
    if the source allows for use of its material for <strong>non-money gains</strong>
</p>
<p>Notes on Copyright Protection</p>
<img src="./img/Copyright-Protected-work.png" alt="copyright" />

@code {

}
